@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p:first-child {
		@apply mt-0;
	}
	p:last-child {
		@apply mb-0;
	}
    b, strong {
        @apply font-medium;
    }
}

/******** Preflight ********/
@import url("./preflight.css");

/******** Vue and Alpine ********/
[v-cloak],
[x-cloak] {
    @apply !hidden;
}

/******** Containers ********/

/* Match tailwind and WordPress containers */
.container {
    @apply mx-auto px-sm;
    max-width: calc(var(--wp--style--global--content-size) + (var(--wp--preset--spacing--sm) * 2));
}
.container.wide {
    max-width: calc(var(--wp--style--global--wide-size) + (var(--wp--preset--spacing--sm) * 2));
}

/******** Blocks *********/

/* Typography */
[class*="space-y"] :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-0;
}

/* Images */
.svg-wrapper svg {
    @apply max-w-full;
}

/******** Template Parts ********/

/* Header */
.site-logo {
    @apply max-lg:max-w-[200px];
}
header.wp-block-template-part {
    @apply relative lg:transition-colors lg:duration-300;
}
header.wp-block-template-part .wp-block-buttons {
    @apply shrink-0 max-md:hidden;
}
header.wp-block-template-part.menu-open {
    @apply lg:bg-black lg:text-white;
}
header.wp-block-template-part.menu-open a {
    @apply lg:text-white;
}

/* Footer */
footer.wp-block-template-part > .wp-block-group {
    padding-top: clamp(3.75rem, 3.451rem + 1.493vw, 5rem); /* 80px/60px */
    padding-bottom: clamp(6.25rem, 5.802rem + 2.239vw, 8.125rem); /* 130px/100px */
}
footer.wp-block-template-part .wp-block-columns:not(.is-not-stacked-on-mobile) {
    @apply max-lg:!flex-wrap;
}
footer.wp-block-template-part .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    @apply max-lg:!basis-full;
}
footer.wp-block-template-part .items-justified-right {
    @apply max-lg:justify-start;
}

/******** Editor ********/
.block-editor .edit-post-sidebar,
.block-editor-page .interface-complementary-area {
    @apply md:w-[380px];
}
.block-editor .edit-post-sidebar .acf-table .acf-row-handle,
.block-editor-page .interface-complementary-area .acf-table .acf-row-handle {
    @apply p-0;
}
.block-editor .edit-post-sidebar .acf-fields > .acf-field,
.block-editor-page .interface-complementary-area .acf-fields > .acf-field {
    @apply p-2.5;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap,
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap {
    @apply leading-normal;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap .link-title, 
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap .link-title {
    @apply p-0;
}