@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p:first-child {
		@apply mt-0;
	}
	p:last-child {
		@apply mb-0;
	}
    b, strong {
        @apply font-medium;
    }
}

/******** Preflight ********/
@import url("./preflight.css");

/******** Vue and Alpine ********/
[v-cloak],
[x-cloak] {
    @apply !hidden;
}
[x-cloak="mobile"] {
    @apply !hidden lg:!block;
}

/******** Containers ********/

/* Match tailwind and WordPress containers */
.container {
    @apply mx-auto px-sm;
    max-width: calc(var(--wp--style--global--content-size) + (var(--wp--preset--spacing--sm) * 2));
}
.container.wide {
    max-width: calc(var(--wp--style--global--wide-size) + (var(--wp--preset--spacing--sm) * 2));
}

/******** Blocks *********/

/* Typography */
[class*="space-y"] :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-0;
}

/* Images */
.svg-wrapper svg {
    @apply max-w-full h-auto;
}

/* Buttons */
.wp-block-button > .wp-block-button__link {
    @apply flex items-center gap-xs border-light-grey bg-white text-black text-left transition duration-300 ease-in-out;
}
.wp-block-button > .wp-block-button__link::after {
    @apply content-[''] shrink-0 inline-block w-10 h-10 bg-purple transition duration-300 ease-in-out;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MSIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjAgNDAuNWMxMS4wNDYgMCAyMC04Ljk1NCAyMC0yMFMzMS4wNDYuNSAyMCAuNSAwIDkuNDU0IDAgMjAuNXM4Ljk1NCAyMCAyMCAyMFptLTgtMTloMTIuMTc1bC01LjYgNS42TDIwIDI4LjVsOC04LTgtOC0xLjQyNSAxLjQgNS42IDUuNkgxMnYyWiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+") no-repeat 50% 50%;}
.wp-block-button.is-style-white-outline > .wp-block-button__link {
    @apply border-white bg-transparent text-white;
}
.wp-block-button.is-style-white-outline > .wp-block-button__link::after {
    @apply bg-white;
}
.wp-block-button > .wp-block-button__link:hover {
    @apply border-light-grey bg-white text-black;
    box-shadow: 0px 4px 10px 0px rgba(137, 128, 245, 0.80);
}   
.wp-block-button > .wp-block-button__link:hover::after {
    @apply bg-black;
}
.wp-block-button.is-style-white-outline > .wp-block-button__link:hover {
    @apply shadow-none border-white;
}


/******** Template Parts ********/

/* Header */
.site-logo {
    @apply max-w-[200px] xl:max-w-[180px] 2xl:max-w-full;
}
.header-cta {
    @apply shrink-0 max-xl:!hidden;
}
header.wp-block-template-part {
    @apply relative xl:transition-colors xl:duration-300;
}
header.wp-block-template-part.menu-open {
    @apply xl:bg-black xl:text-white;
}
header.wp-block-template-part.menu-open a {
    @apply xl:text-white;
}
header.wp-block-template-part > .wp-block-group > .wp-block-group {
    @apply max-xl:px-6 max-xl:py-5;
}
header.wp-block-template-part > .wp-block-group > .wp-block-group::before {
    @apply content-[''] absolute top-5 left-6 w-[calc(100%-(theme(space.6)*2))] h-[calc(100%-(theme(space.5)*2))] bg-white rounded-[50px] z-20 xl:hidden;
}
header.wp-block-template-part > .wp-block-group > .wp-block-group .site-logo {
    @apply relative z-20;
}
header.wp-block-template-part .menu-bg {
    background-image: url('../images/mob-menu-bg.png');
    @apply bg-no-repeat bg-cover xl:bg-none;
}

/* Mega Menu */
.mega-menu-block .link-item::before {
    @apply absolute bottom-2.5 left-2 w-0 h-px bg-purple transition-[width] duration-300 xl:content-[''] 2xl:bottom-3.5 2xl:left-3;
}
.mega-menu-block .link-item:hover::before,
.mega-menu-block .link-item.has-items.active::before {
    @apply w-[calc(100%-theme(space.2)*2)] 2xl:w-[calc(100%-theme(space.3)*2)];
}
.mega-menu-block .link-item.has-items:hover svg,
.mega-menu-block .link-item.has-items.active svg {
    @apply text-purple;
}

/* Footer */
footer.wp-block-template-part > .wp-block-group {
    padding-top: clamp(3.75rem, 3.451rem + 1.493vw, 5rem); /* 80px/60px */
    padding-bottom: clamp(6.25rem, 5.802rem + 2.239vw, 8.125rem); /* 130px/100px */
}
footer.wp-block-template-part .wp-block-columns:not(.is-not-stacked-on-mobile) {
    @apply max-lg:!flex-wrap;
}
footer.wp-block-template-part .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    @apply max-lg:!basis-full;
}
footer.wp-block-template-part .items-justified-right {
    @apply max-lg:justify-start;
}

/******** Editor ********/
.block-editor .edit-post-sidebar,
.block-editor-page .interface-complementary-area {
    @apply md:w-[380px];
}
.block-editor .edit-post-sidebar .acf-table .acf-row-handle,
.block-editor-page .interface-complementary-area .acf-table .acf-row-handle {
    @apply p-0;
}
.block-editor .edit-post-sidebar .acf-fields > .acf-field,
.block-editor-page .interface-complementary-area .acf-fields > .acf-field {
    @apply p-2.5;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap,
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap {
    @apply leading-normal;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap .link-title, 
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap .link-title {
    @apply p-0;
}